// Package domain
package domain

import (
	"errors"
	"time"
)

type {{ .ContextName | title }} struct {
	{{ .ContextName | title }}ID      string
	CreatedAt time.Time
}

func New{{ .ContextName | title }}(
	{{ .ContextName | lower }}ID string,
	createdAt time.Time,
) (*{{ .ContextName | title }}, error) {
	if {{ .ContextName | lower }}ID == "" {
		return nil, errors.New("{{ .ContextName | lower }}ID is required")
	}

	return &{{ .ContextName | title }}{
		{{ .ContextName | title }}ID: {{ .ContextName | lower }}ID,
		CreatedAt: createdAt,
	}, nil
}
