// Package infrastructure
package infrastructure

import (
	"{{ .Module }}/internal/shared/logger"

	"gorm.io/gorm"
)

type {{ .ContextName | lower }}Repository struct {
	db     *gorm.DB
	logger logger.Logger
}

func New{{ .ContextName | title }}Repository(db *gorm.DB, logger logger.Logger) {{ .ContextName | lower }}Repository {
	return {{ .ContextName | lower }}Repository{db: db, logger: logger}
}
