package domain

import (
	"time"
)

type Auth struct {
	AuthID    string
	UserID    string
	Token     string
	ExpiresAt time.Time
	CreatedAt time.Time
}

func NewAuth(authID string, userID string, token string, expiresAt time.Time) (*Auth, error) {
	if userID == "" {
		return nil, ErrUserIDRequired
	}

	if token == "" {
		return nil, ErrTokenRequired
	}

	if expiresAt.IsZero() {
		return nil, ErrExpiresAtRequired
	}

	user := &Auth{
		AuthID:    authID,
		UserID:    userID,
		Token:     token,
		ExpiresAt: expiresAt,
		CreatedAt: time.Now(),
	}

	return user, nil
}
