package application

import (
	"{{.ProjectName}}/internal/shared/config"
	"{{.ProjectName}}/internal/shared/logger"
)

type {{.ContextName}}Service interface {
}

type {{.ContextNameCamel}}ServiceImpl struct {
	logger          logger.Logger
	config          config
}

func New{{.ContextName}}Service(
	logger logger.Logger,
	config config,
) {{.ContextName}}Service {
	return &{{.ContextNameCamel}}ServiceImpl{
		logger:          logger,
		config:          config,
	}
}